#fix-header.fix-header.prz
	.header.prz
		.w1200.prz
			a.logo.pra(href='#')
				| {{ Front Developer }}
			ul.navigation.clearfix.pra
				li
					a.top-level(href='#') 首页
				li
					a.top-level(href='#') 前端开发
				li
					a.top-level(href='#') JavaScript
				li
					a.top-level(href='#') jQuery
				li
					a.top-level(href='#') AngularJs
			a#search-button.search-button.iconfont.icon-search.pra(href='javascript:;')
			a#hamburger(href='#my-menu')
				span
		#search.search.pra
			.w1200
				.search-body.prz
					.body-waper.pra
						input.body-input(type='text', placeholder='请输入关键词')
					a.body-button.iconfont.icon-search.pra(href='javascript:;')