extends layout

block content
	include header.jade
	div.container.w1200.clearfix
		.main.fl
			.caroufredsel.prz
				a.carouse-btn.carouse-btn-1.iconfont.icon-left.pra(href='javascript:;')
				a.carouse-btn.carouse-btn-2.iconfont.icon-right.pra(href='javascript:;')
				ul#caroUl.caroUl
					li
						a.img-box(href='#')
							img.best-fill(data-src='temp/temp.jpg')
					li
						a.img-box(href='#')
							img.best-fill(data-src='temp/temp-1.jpg')
				#pagination.pagination.cleargap.pra
			.command
				h5
					a(href='#') 【推荐】
					a(href='#') DNF：当前版本中扶不起来的5大职业大盘点，你还在坚持吗？
				.instro
					| 某些职业厉害得要上天，而有些职业，即使付出太多努力，依然掀不动下水道的井盖！一起盘点一下，DNF目前版本中扶不起来的五大职业！帅气的连招，摇晃的身影，一套喵喵拳连招hit999999，伤害999。
			h3.page-title 最新发布
			ul.article-list
				li
					a.img-box.prz.fl
						img.best-fill(data-src='temp/temp.jpg')
					.list-content
						h5
							a(href='#')
								| 新闻
								i
							a(href='#') 科技巨头积极布局出行领域 摩拜单车受投资人追捧
						.meta
							span.time.iconfont.icon-time
								| 2015-12-17
							span.author.iconfont.icon-author
								| admin
							span.count.iconfont.icon-read
								| 阅读(17237)
							a.iconfont.icon-comment.fr(href='#')
								| 评论(10)
						.instro
							| 香港主机一直受到国内站长的喜爱，其比较突出的特点是主机比较稳定，访问速度比较快，并且免备案。那么说到性价比比较高的香港主机，必盛互联当然是首选。 首先，先介绍下必盛互联，其提供的香港主机最大的特点就是主机配置强大，支持功能较多，管理也尤为方...
				li
					a.img-box.prz.fl
						img.best-fill(data-src='temp/temp.jpg')
					.list-content
						h5
							a(href='#')
								| 新闻
								i
							a(href='#') 科技巨头积极布局出行领域 摩拜单车受投资人追捧
						.meta
							span.time.iconfont.icon-time
								| 2015-12-17
							span.author.iconfont.icon-author
								| admin
							span.count.iconfont.icon-read
								| 阅读(17237)
							a.iconfont.icon-comment.fr(href='#')
								| 评论(10)
						.instro
							| 香港主机一直受到国内站长的喜爱，其比较突出的特点是主机比较稳定，访问速度比较快，并且免备案。那么说到性价比比较高的香港主机，必盛互联当然是首选。 首先，先介绍下必盛互联，其提供的香港主机最大的特点就是主机配置强大，支持功能较多，管理也尤为方...
				li
					a.img-box.prz.fl
						img.best-fill(data-src='temp/temp.jpg')
					.list-content
						h5
							a(href='#')
								| 新闻
								i
							a(href='#') 科技巨头积极布局出行领域 摩拜单车受投资人追捧
						.meta
							span.time.iconfont.icon-time
								| 2015-12-17
							span.author.iconfont.icon-author
								| admin
							span.count.iconfont.icon-read
								| 阅读(17237)
							a.iconfont.icon-comment.fr(href='#')
								| 评论(10)
						.instro
							| 香港主机一直受到国内站长的喜爱，其比较突出的特点是主机比较稳定，访问速度比较快，并且免备案。那么说到性价比比较高的香港主机，必盛互联当然是首选。 首先，先介绍下必盛互联，其提供的香港主机最大的特点就是主机配置强大，支持功能较多，管理也尤为方...
				li
					a.img-box.prz.fl
						img.best-fill(data-src='temp/temp.jpg')
					.list-content
						h5
							a(href='#')
								| 新闻
								i
							a(href='#') 科技巨头积极布局出行领域 摩拜单车受投资人追捧
						.meta
							span.time.iconfont.icon-time
								| 2015-12-17
							span.author.iconfont.icon-author
								| admin
							span.count.iconfont.icon-read
								| 阅读(17237)
							a.iconfont.icon-comment.fr(href='#')
								| 评论(10)
						.instro
							| 香港主机一直受到国内站长的喜爱，其比较突出的特点是主机比较稳定，访问速度比较快，并且免备案。那么说到性价比比较高的香港主机，必盛互联当然是首选。 首先，先介绍下必盛互联，其提供的香港主机最大的特点就是主机配置强大，支持功能较多，管理也尤为方...
				li
					a.img-box.prz.fl
						img.best-fill(data-src='temp/temp.jpg')
					.list-content
						h5
							a(href='#')
								| 新闻
								i
							a(href='#') 科技巨头积极布局出行领域 摩拜单车受投资人追捧
						.meta
							span.time.iconfont.icon-time
								| 2015-12-17
							span.author.iconfont.icon-author
								| admin
							span.count.iconfont.icon-read
								| 阅读(17237)
							a.iconfont.icon-comment.fr(href='#')
								| 评论(10)
						.instro
							| 香港主机一直受到国内站长的喜爱，其比较突出的特点是主机比较稳定，访问速度比较快，并且免备案。那么说到性价比比较高的香港主机，必盛互联当然是首选。 首先，先介绍下必盛互联，其提供的香港主机最大的特点就是主机配置强大，支持功能较多，管理也尤为方...
				li
					a.img-box.prz.fl
						img.best-fill(data-src='temp/temp.jpg')
					.list-content
						h5
							a(href='#')
								| 新闻
								i
							a(href='#') 科技巨头积极布局出行领域 摩拜单车受投资人追捧
						.meta
							span.time.iconfont.icon-time
								| 2015-12-17
							span.author.iconfont.icon-author
								| admin
							span.count.iconfont.icon-read
								| 阅读(17237)
							a.iconfont.icon-comment.fr(href='#')
								| 评论(10)
						.instro
							| 香港主机一直受到国内站长的喜爱，其比较突出的特点是主机比较稳定，访问速度比较快，并且免备案。那么说到性价比比较高的香港主机，必盛互联当然是首选。 首先，先介绍下必盛互联，其提供的香港主机最大的特点就是主机配置强大，支持功能较多，管理也尤为方...
				li
					a.img-box.prz.fl
						img.best-fill(data-src='temp/temp.jpg')
					.list-content
						h5
							a(href='#')
								| 新闻
								i
							a(href='#') 科技巨头积极布局出行领域 摩拜单车受投资人追捧
						.meta
							span.time.iconfont.icon-time
								| 2015-12-17
							span.author.iconfont.icon-author
								| admin
							span.count.iconfont.icon-read
								| 阅读(17237)
							a.iconfont.icon-comment.fr(href='#')
								| 评论(10)
						.instro
							| 香港主机一直受到国内站长的喜爱，其比较突出的特点是主机比较稳定，访问速度比较快，并且免备案。那么说到性价比比较高的香港主机，必盛互联当然是首选。 首先，先介绍下必盛互联，其提供的香港主机最大的特点就是主机配置强大，支持功能较多，管理也尤为方...
				li
					a.img-box.prz.fl
						img.best-fill(data-src='temp/temp.jpg')
					.list-content
						h5
							a(href='#')
								| 新闻
								i
							a(href='#') 科技巨头积极布局出行领域 摩拜单车受投资人追捧
						.meta
							span.time.iconfont.icon-time
								| 2015-12-17
							span.author.iconfont.icon-author
								| admin
							span.count.iconfont.icon-read
								| 阅读(17237)
							a.iconfont.icon-comment.fr(href='#')
								| 评论(10)
						.instro
							| 香港主机一直受到国内站长的喜爱，其比较突出的特点是主机比较稳定，访问速度比较快，并且免备案。那么说到性价比比较高的香港主机，必盛互联当然是首选。 首先，先介绍下必盛互联，其提供的香港主机最大的特点就是主机配置强大，支持功能较多，管理也尤为方...
				li
					a.img-box.prz.fl
						img.best-fill(data-src='temp/temp.jpg')
					.list-content
						h5
							a(href='#')
								| 新闻
								i
							a(href='#') 科技巨头积极布局出行领域 摩拜单车受投资人追捧
						.meta
							span.time.iconfont.icon-time
								| 2015-12-17
							span.author.iconfont.icon-author
								| admin
							span.count.iconfont.icon-read
								| 阅读(17237)
							a.iconfont.icon-comment.fr(href='#')
								| 评论(10)
						.instro
							| 香港主机一直受到国内站长的喜爱，其比较突出的特点是主机比较稳定，访问速度比较快，并且免备案。那么说到性价比比较高的香港主机，必盛互联当然是首选。 首先，先介绍下必盛互联，其提供的香港主机最大的特点就是主机配置强大，支持功能较多，管理也尤为方...
				li
					a.img-box.prz.fl
						img.best-fill(data-src='temp/temp.jpg')
					.list-content
						h5
							a(href='#')
								| 新闻
								i
							a(href='#') 科技巨头积极布局出行领域 摩拜单车受投资人追捧
						.meta
							span.time.iconfont.icon-time
								| 2015-12-17
							span.author.iconfont.icon-author
								| admin
							span.count.iconfont.icon-read
								| 阅读(17237)
							a.iconfont.icon-comment.fr(href='#')
								| 评论(10)
						.instro
							| 香港主机一直受到国内站长的喜爱，其比较突出的特点是主机比较稳定，访问速度比较快，并且免备案。那么说到性价比比较高的香港主机，必盛互联当然是首选。 首先，先介绍下必盛互联，其提供的香港主机最大的特点就是主机配置强大，支持功能较多，管理也尤为方...
			.page.cleargap
				a.ibox.prev(href='#') 上一页
				a.ibox.number.active(href='#') 1
				a.ibox.number(href='#') 2
				a.ibox.number(href='#') 3
				a.ibox.number(href='#') 4
				a.ibox.number(href='#') 5
				a.ibox.next(href='#') 下一页
				a.ibox.total(href='javascript:;') 共57页
		include sideBar.jade
	include footer.jade
	script.
		seajs.use(['init','caroufredsel'],function(){
			
			if(device.desktop()){

				var caroUl = $('#caroUl');
				
				caroUl.carouFredSel({
					items:{
						width:820,
						height:200
					},
					scroll:{
						pauseOnHover:true,
						fx:'crossfade'
					},
					prev:'.carouse-btn-1',
					next:'.carouse-btn-2',
					pagination:'#pagination'
				});

				var tagCloud = $('#tag-cloud');
				
				tagCloud.scrollToFixed({marginTop:70});
				
			}
			
		});