.aside.fl
	.aside-content.fr
		span.english
		ul.menu-list
			li(ui-sref-active='active')
				a.title(href="#")
					span.icon.layui-icon.fl
					span.name.fl 栏目管理
			li(ui-sref-active='active')
				a.title(href="#")
					span.icon.layui-icon.fl
					span.name.fl 内容管理
			li(ui-sref-active='active')
				a.title(href="#")
					span.icon.layui-icon.fl
					span.name.fl 用户管理
			li(ui-sref-active='active')
				a.title(href="#")
					span.icon.layui-icon.fl
					span.name.fl 留言管理
			li(ui-sref-active='active')
				a.title(href="#")
					span.icon.layui-icon.fl
					span.name.fl 站点管理
			li(ui-sref-active='active')
				a.title(href="#")
					span.icon.layui-icon.fl
					span.name.fl 语言管理
			li(ui-sref-active='active')
				a.title(href="#")
					span.icon.layui-icon.fl
					span.name.fl 模型管理
